<div class="text-center">
    <p>©2021 - Nhà sách ABC. Allright Reserved</p>
    <p>Website được phát triển để sử dụng làm bài tập thực hành môn Lập trình Web</p>

    <p>Email: abc@gmail.com</p>

</div>
<div>
    <p style="color:red">
        Số lượt Online:1
    </p>
    <p style="color:blue">
        Tổng lượt truy cập:11
    </p>
</div>